* {
    padding: 0;
    /* border: 1px solid blue; */
    margin: 0;
}

body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* background-color: rgb(252, 147, 128); */
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.title {
    text-align: center;
    font-size: 400%;
    margin-bottom: 4%;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.table-board {
    width: 1140px;
}

.controls-container {
    background-color: rgba(12, 150, 12, 0.74);
    margin-bottom: 4%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.75);
}

.controls-container {
    padding: 1% 2% 2% 2%;
    position: sticky;
}

.controls-container>h1 {
    text-align: center;
    margin-bottom: 6%;
    text-decoration: underline;
}

.control-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.size-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.size-inp {
    width: 20%;
    margin-left: 1%;
}

.elements-container {
    margin-top: 5%;
}

.elements-container>h3 {
    margin-bottom: 2%;
}

input[type=radio] {
    margin: 0 2%;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 2%;
    background-color: rgb(247, 199, 160);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.create-btn, .execute-btn {
    width: 45%;
    text-align: center;
    margin-top: 5%;
    align-self: center;
}

.execute-btn {
    width: 30%;
    padding: 5%;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(7, 255, 7);
}

.cell {
    height: 30px;
    margin: 0.1%;
    width: 30px;
    background: #d6d9df6e;
    /* fallback for old browsers */
    /* background-color: rgb(128, 82, 69); */
    border: 1px solid transparent;
}

.blocked {
    /* background-color: black; */
    background: url("../resources/blocked-icon.svg");
    background-size: contain;
    background-color: inherit;
}

.editable {
    cursor: pointer;
}



.start {
    background: url("../resources/start-icon.png");
    background-size: contain;
    background-color: rgba(56, 231, 56, 0.219);
}

.finish {
    background: url("../resources/finish-icon.png");
    background-size: contain;
    background-color: rgba(255, 0, 0, 0.5);
}


.board {
    display: flex;
    justify-content: center;
    align-items: center;
}
