* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* background-color: rgb(252, 147, 128); */
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

span {
    display: inline-block;
    margin: 2% 0;
}
.title {
    text-align: center;
    font-size: 400%;
    margin-bottom: 4%;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.table-board {
    width: 1140px;
}

.controls-container {
    background-color: rgba(12, 150, 12, 0.74);
    margin-bottom: 4%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.75);
}

.controls-container {
    padding: 1% 2% 2% 2%;
    position: sticky;
}

.controls-container>h1 {
    text-align: center;
    margin-bottom: 6%;
    text-decoration: underline;
}

.control-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.btn-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn-container button {
    width: 50%;
    margin-bottom: 2%;
    outline: none;
    transition: transform 0.2s, background-color 0.5s;
    font-family: inherit;
    background-color: rgba(226, 225, 225, 0.699);
}

.btn-container button:hover {
    background-color: rgba(255, 255, 255, 0.856);    
    cursor: pointer;
}
.btn-container button:active {
    transform: scale(0.90);
}

.size-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.size-inp {
    width: 20%;
    margin-left: 1%;
}

.elements-container {
    width: 60%;
    margin-top: 5%;
}

.elements-container>h3 {
    margin-bottom: 2%;
}

input[type=radio] {
    margin: 0 2%;
    vertical-align: middle;
}

#weight-inp {
    border: transparent;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    width: 20%;
    outline: none;
}

.active-radio {
    color: gold;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 2%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.create-btn, .execute-btn {
    width: 45%;
    text-align: center;
    margin-top: 5%;
    align-self: center;
    transition: background-color 0.5s, transform 0.2s;
}

.execute-btn {
    width: 30%;
    padding: 5%;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(7, 255, 7);
}

.create-btn {
    background-color: rgb(248, 165, 97);

}

.create-btn:hover {
    background-color: rgb(247, 199, 160);
}

.execute-btn:hover {
    background-color: rgb(181, 255, 181);
}

.execute-btn:active, .create-btn:active {
    transform: scale(0.95);
}

.cell {
    height: 30px;
    margin: 0.1%;
    width: 30px;
    background: #d6d9df6e;
    /* fallback for old browsers */
    /* background-color: rgb(128, 82, 69); */
    border: 2px solid transparent;
    transition: border-color 0.2s;
    vertical-align: top;
}

.cell:hover {
    border: 2px solid rgb(25, 43, 77);
    cursor: pointer;
}

.blocked {
    /* background-color: black; */
    background: url("../resources/blocked-icon.svg");
    background-size: contain;
    background-color: inherit;
}

.checkpoint {
    background: url("../resources/checkpoint-icon.png");
    background-size: contain;
    background-color:inherit;
    color: rgb(235, 211, 0);
    vertical-align: text-top;
}

.weighted {
    transform: scale(0.85);
}
.editable {
    cursor: pointer;
}

.path {
    background-color: orange;
    border: 1px solid yellow;
    animation: brightness-pulse 1s infinite;
}

.start {
    background: url("../resources/start-icon.png");
    background-size: contain;
    background-color: rgba(56, 231, 56, 0.671);
    animation: pulse 2s infinite;
    border-radius: 15%;
}

.finish {
    background: url("../resources/finish-icon.png");
    background-size: contain;
    background-color: rgba(255, 0, 0, 0.5);
    animation: red-pulse 2s infinite;
    border-radius: 15%;
}


.board {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Animations */

@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(32, 236, 32, 0.603);
      box-shadow: 0 0 0 0 rgba(95, 204, 44, 0.61);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(63, 204, 44, 0.603);
        box-shadow: 0 0 0 10px rgba(57, 204, 44, 0.178);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(71, 204, 44, 0.233);
        box-shadow: 0 0 0 0 rgba(57, 204, 44, 0.096);
    }
}

@keyframes red-pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(236, 63, 32, 0.603);
      box-shadow: 0 0 0 0 rgba(204, 55, 44, 0.445);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 63, 44, 0.603);
        box-shadow: 0 0 0 10px rgba(204, 68, 44, 0.082);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 63, 44, 0.233);
        box-shadow: 0 0 0 0 rgba(204, 68, 44, 0.041);
    }
}

@keyframes brightness-pulse {
    50% {
        background-color: orange;
    }
    100% {
        background-color: rgb(199, 129, 0);
    }
}